.login-form{
	margin-top: 140px;
}
	  .form-login {max-width: 330px;
    margin: 100px auto 0px;
    background: #f7f6f6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 10px 10px 10px -2px;
    padding: 29px 5px 52px 66px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #68dff0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-warp .registration {
	text-align: center;
}
.login-social-link {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
}